/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?auto=format&fit=crop&w=1500&q=80') 
              no-repeat center center/cover;
  overflow: hidden;
}

.login-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  animation: zoomIn 1s ease-in-out;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #444;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
}

.input-box .icon {
  position: absolute;
  left: 10px;
  font-size: 1.1rem;
  color: #059669;
}

.input-box input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.2rem; /* space for icon */
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.input-box input:focus {
  border-color: #059669;
  box-shadow: 0 0 8px rgba(245, 158, 11, 0.5);
}

.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #059669, #059669);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
   color: #090a0a;
  background: linear-gradient(45deg, #059669, #059669);
}

.options {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.options a {
   color: #059669;
  text-decoration: none;
  font-weight: 600;
}

.options a:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
